//
//  Configs.xcconfig
//  MetaWeather
//
//  Created by DavidMartin on 8/14/21.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// !!! NOTICE !!!
// You may wonder why didn't I put all secret keys into Info.plist file?
// That's because if someone got your ipa file and exact it
// then the Info.plist file content can be read directly
// without any encryption, but in the other spectrum all code
// files and string files are encrypted by default


// For testing only, NEVER put production token here, you MUST encrypt your token
// You can request one here https://www.pexels.com/api/new/
PEXEL_TOKEN = ""
